!! GENERAL
URxvt.scrollBar: false
URxvt.saveLines: 8192
URxvt.internalBorder: 15
URxvt.cursorUnderline: false
URxvt.cursorBlink: true

!! Enabling clickable links.
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
URxvt.url-launcher:     /usr/bin/firefox

!! FONT
urxvt*font: xft:Tewi:pixelsize=9,xft:JackeyFont:pixelsize=9,

urxvt*boldFont: xft:Tewi:pixelsize=9,xft:JackeyFont:pixelsize=9,

!! COLORS

! special
*.foreground:   #becde7
*.background:   #353945
*.cursorColor:  #d6e0e8
*.borderColor:  #353945
         
! black
*.color0:       #7e8798
*.color8:       #7e8798
         
! red
*.color1:       #ff7854
*.color9:       #ff7854
         
! green
*.color2:       #36eb8c
*.color10:      #36eb8c
         
! yellow
*.color3:       #c2f139
*.color11:      #c2f139
         
! blue
*.color4:       #4591e7
*.color12:      #4591e7
         
! magenta
*.color5:       #e33a86
*.color13:      #e33a86
         
! cyan
*.color6:       #63decd
*.color14:      #63decd
         
! white
*.color7:       #becde7
*.color15:      #becde7


